@model SelfLearning.Models.DepartmentTicket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DepartmentTicket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegisterTicket.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterTicket.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.DeparmentTrickId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
